* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#headline {
    color: #00ff00;
    font-size: 2.5rem;
    text-shadow: 0 0 10px #00ffff;
    margin-bottom: 20px;
}

.clock-box {
    border: 6px solid #00ff00;
    border-radius: 20px;
    padding: 20px 40px;
    box-shadow: 0 0 20px #00ff00, inset 0 0 25px #00ffff;
    margin-bottom: 20px;
}

#clock {
    color: #00ff00;
    font-size: 5rem;
    font-weight: bold;
    text-shadow: 0 0 15px #00ffff;
}

#days {
    color: #00ff00;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0 0 20px #00ffff;
    letter-spacing: 2px;
}
#year {
    color: #00ff00;
    font-size: 4rem; /* Veće od teksta "Preostalo dana" */
    font-weight: 900;
    text-shadow: 0 0 10px #00ff00, 0 0 30px #00ffff;
    margin-top: 10px; /* Malo razmaka od gornjeg teksta */
    letter-spacing: 5px;
}
.radio-box {
    margin-top: 20px;
}

#radio-btn {
    background: transparent;
    color: #00ff99;
    border: 2px solid #00ff99;
    padding: 10px 20px;
    font-family: 'Orbitron', sans-serif; /* ili tvoj font */
    cursor: pointer;
    border-radius: 5px;
    text-shadow: 0 0 10px #00ff99;
    box-shadow: 0 0 10px #00ff99;
    transition: 0.3s;
}

#radio-btn:hover {
    background: #00ff99;
    color: #000;
}
@keyframes pulse {
    0% { box-shadow: 0 0 10px #00ff99; }
    50% { box-shadow: 0 0 30px #00ff99; }
    100% { box-shadow: 0 0 10px #00ff99; }
}

#radio-btn.playing {
    animation: pulse 1.5s infinite;
    background: rgba(0, 255, 153, 0.1);
}